:root {
    --clr-bg-body: #fdffff;
    --clr-text-body: #333230;
}


@media (prefers-color-scheme: dark) {
    :root {
        --clr-bg-body: #333230;
        --clr-text-body: #fdffff;
    }
}


* {
    margin: 0;
    padding: 0;
    font: inherit;
}


body {
    margin: 0;
    min-height: 100dvh;
    display: grid;
    place-items: center;
    background-color: var(--clr-bg-body);
    color: var(--clr-text-body);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}


h1 {
    font-size: 2.986rem;
}

h2 {
    font-size: 2.488rem;
}

h3 {
    font-size: 2.074rem;
}

h4 {
    font-size: 1.728rem;
}

.container {
    display: grid;
    gap: 1.5rem;
    place-items: center;
    margin-inline: 1.25rem;
}

.title.time,
.subtitle.day {
    text-align: center;
    filter: drop-shadow(0 0 5px color-mix(in lab, var(--clr-text-body) 20%, transparent))
}

.title.time {
    font-weight: 700;

}

@media (max-width: 425px) {
    html {
        font-size: 12px;
    }
}